/*------------------- APLICACION SASS ------------------------*/
/*----- ADICIONALES BOOSTRAP -----*/
.navbar-toggler {
  width: 64px; }

/*----- COLORES PREDEFINIDOS ------*/
/*------- PUBLICACIONES -----------*/
.publicacion {
  display: grid;
  grid-template-areas: "publicacion__imagen publicacion__imagen" "publicacion__ubicacion publicacion__precio" "publicacion__detalle publicacion__detalle";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 6fr 1fr 1fr;
  height: 16rem;
  transition: transform 1s; }
  .publicacion div {
    padding-left: 6px;
    padding-right: 6px; }
  .publicacion:hover {
    transform: scale(1.1, 1.1); }
  .publicacion__imagen {
    grid-area: publicacion__imagen; }
  .publicacion__ubicacion {
    grid-area: publicacion__ubicacion;
    line-height: 2rem;
    font-size: 1rem;
    text-align: left; }
  .publicacion__precio {
    grid-area: publicacion__precio;
    line-height: 2rem;
    font-size: 1rem;
    text-align: right; }
  .publicacion__detalle {
    grid-area: publicacion__detalle;
    line-height: 2rem;
    font-size: 1rem;
    text-align: left; }

#pub1 {
  grid-area: pub1; }
  #pub1 .publicacion__imagen {
    background-image: url(..//imgs/pub1.jpg); }

#pub2 {
  grid-area: pub2; }
  #pub2 .publicacion__imagen {
    background-image: url(..//imgs/pub2.jpg); }

#pub3 {
  grid-area: pub3; }
  #pub3 .publicacion__imagen {
    background-image: url(..//imgs/pub3.jpg); }

#pub4 {
  grid-area: pub4; }
  #pub4 .publicacion__imagen {
    background-image: url(..//imgs/pub4.jpg); }

#pub5 {
  grid-area: pub5; }
  #pub5 .publicacion__imagen {
    background-image: url(..//imgs/pub5.jpg); }

#pub6 {
  grid-area: pub6; }
  #pub6 .publicacion__imagen {
    background-image: url(..//imgs/pub6.jpg); }

/*------------ ASIDE -----------------*/
aside {
  width: 16rem;
  padding: 2rem 1rem 0rem 1rem;
  align-self: flex-start;
  margin-bottom: 2rem;
  margin-right: 2rem; }
  aside div {
    width: 14rem;
    margin-bottom: 2rem;
    transition: all 2s; }
    aside div:hover {
      padding-left: 3rem;
      background-color: #69f; }

/*--------- CAJAS --------*/
.cajaCentral {
  width: 43rem;
  height: auto;
  padding: 3rem 3rem 0rem 3rem;
  margin-right: 32rem;
  align-content: stretch; }
  .cajaCentral > div {
    width: auto;
    margin-bottom: 3rem; }
  .cajaCentral__cajaTexto {
    width: auto;
    margin-bottom: 3rem;
    padding: 1rem; }
  .cajaCentral__cajaForm {
    width: auto;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 0rem; }

/*----- ESTILOS DE CAJAS: COLORES Y BORDES -------*/
.estiloA {
  background-color: #b3ccff;
  border: 2px solid gray; }

.estiloB,
.estiloBinside > * {
  background-color: #69f;
  border: 2px solid black; }

.estiloC,
.estiloCinside > * {
  background-color: #596680;
  border: 2px solid black; }

.estiloD,
.estiloDinside > * {
  background-color: #527acc;
  border: 2px solid black; }

/*---- ESTILOS DE TEXTOS -------*/
.textoBlanco {
  font-size: 1.5rem;
  font-family: Ubuntu, sans-serif;
  color: white;
  text-align: center; }

/*------ NO BOOSTRAP -----*/
.flex-row,
.flex-column {
  display: flex;
  flex-direction: row; }

.flex-column {
  flex-direction: column; }

.flex-j-center {
  justify-content: center; }

.flex-j-spaceB {
  justify-content: space-between; }

main,
footer {
  padding: 3rem;
  justify-content: center;
  display: flex; }

footer {
  background-image: linear-gradient(to top, #b3ccff, white); }

/*----- ANIMACION HEADER ------*/
@keyframes respiracion {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.1, 1.1); }
  100% {
    transform: scale(1, 1); } }

.logo:hover,
nav ul li:hover,
.ingreso:hover {
  animation-name: respiracion;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-duration: 2.5s; }

/*------- FORM ---------*/
.form > * {
  text-align: right;
  padding-right: 5rem; }

/* GRID PRINCIPAL */
#publicaciones {
  display: grid;
  grid-template-areas: "pubProm  pubProm pub1  pub2  banner" "pub3     pub4    pub5  pub6  banner";
  grid-template-rows: repeat(2, 16rem);
  grid-template-columns: repeat(5, 1fr);
  justify-content: stretch;
  row-gap: 1rem;
  column-gap: 1rem;
  width: 77rem;
  padding: 2rem; }

#pubProm {
  grid-area: pubProm; }

#banner {
  grid-area: banner;
  background-image: url(../imgs/banner.jpg); }

/* ANIMACION BANNER */
@keyframes banner {
  0% {
    background-image: url(../imgs/banner.jpg); }
  35% {
    background-image: url(../imgs/banner.jpg); }
  50% {
    background-image: url(../imgs/banner2.jpg); }
  85% {
    background-image: url(../imgs/banner2.jpg); }
  100% {
    background-image: url(../imgs/banner.jpg); } }

#banner {
  animation-name: banner;
  animation-iteration-count: infinite;
  animation-duration: 10s; }

/* GRID SECUNDARIO */
#pubProm .publicacion__imagen {
  background-image: url(../imgs/pubProm.jpg); }

/* main responsive */
@media (max-width: 1400px) {
  main.main-flex {
    flex-direction: column; } }

@media (min-width: 1401px) {
  main.main-flex {
    flex-direction: row; } }
